body {
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    font-family: "Times New Roman", serif;
    font-size: 16px;
}

h1 {
    color: orange;
}

h3,
h6 {
    color: #b3b3b3;
    display: inline;
}

span,
form {
    color: #b3b3b3;
    display: inline;
}

canvas {
    background-color: white;
    width: 100% !important;
    height: auto !important;
}

table,
td,
th {
    padding: 5px;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
    text-align: center;
}

div {
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}

input[type="checkbox"] ~ input {
    display: none;
}

input[type="checkbox"]:checked ~ input {
    display: inline-block;
}

input[type="checkbox"] ~ textarea {
    display: none;
}

input[type="checkbox"]:checked ~ textarea {
    display: inline-block;
}